@use './variables' as *;


/*Mixins for Tablet & Desktop*/
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}


/*Typography Mixins for Mobile - 320px to 766px*/

@mixin h1-mobile {
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 2.25rem;
}

@mixin h2-mobile {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.75rem;
}

  @mixin labels-mobile{
    font-size: 0.813rem;
    font-weight: bold;
    line-height: 1.25rem;
}

@mixin h3-mobile {
      font-size: 0.688rem;
      font-weight: normal;
      line-height: 1rem;
}

@mixin p1-mobile{
      font-size: 0.938rem;
      font-weight: normal;
      line-height: 1.625rem;
}

@mixin p2-mobile{
    font-size: 0.813rem;
    font-weight: normal;
    line-height: 1.25rem;
}

@mixin p3-mobile{
    font-size: 0.688rem;
    font-weight: normal;
    line-height: 1rem;
}


/*Typography Mixins for Tablet & Desktop < 768px*/


@mixin h1-tablet{
      font-size: 2rem;
      font-weight: bold;
      line-height: 2.5rem;
}

@mixin h2-tablet{
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 2rem;
}

  @mixin labels-tablet{
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.375rem;
}

@mixin h3-tablet{
      font-size: 0.75rem;
      font-weight: normal;
      line-height: 1.125rem;
}

@mixin p1-tablet{
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.75rem;
}

@mixin p2-tablet{
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.375rem;
}

@mixin p3-tablet{
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.125rem;
}