/*Responsive Breakpoints*/ 
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


/*Primary Colors*/
$Primary-Orange: #f5663a;
$Primary-White: #ffffff;
$Primary-Black: #000000;
$Primary-Tan: #fdc3ad;

/*Secondary Colors*/
$Secondary-Orange: #f9744b;
$Secondary-White: #f5f5f5;
$Secondary-Gray: #5C667E;
$Secondary-Tan: #fedecc;